version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: djr
      POSTGRES_USER: djr
      POSTGRES_PASSWORD: djr
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:7
    command: ["redis-server", "--save", "60", "1"]
    volumes:
      - redis-data:/data
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file: .env.dev
    depends_on: [postgres, redis]
    ports:
      - 3000:3000
  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    env_file: .env.dev
    depends_on: [redis, postgres]

volumes:
  db-data:
  redis-data:
